
@import url('https://fonts.googleapis.com/css?family=Cinzel');

body {
    background-color: black;
    margin: auto;
    margin-top: 3em;
    width: 80%;
}

header {
    margin-top: 1em;
    margin-bottom: 2em;
    font-family: "Arial", sans-serif;
    font-size: 22pt;
    text-align: center;
}

footer {
    margin-top: 2em;
    font-family: "Times", serif;
    font-size: 16pt;
    text-align: center;
}

canvas {
    width: 80%; 
    height: 80%;
    border: rgba(255, 255, 255, 0.438) 5px solid;
    margin-left: 3em;
}

#chrono {
    font-family: "Cinzel", serif;
    font-size: 24pt;
    margin-right: 3em;
    text-align: center;
    color: rgb(255, 255, 255);
}
#life {
    font-family: "Cinzel", serif;
    font-size: 24pt;
    margin-right: 3em;
    text-align: center;
    color: rgb(255, 255, 255);
}